<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chessboard-0.3.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <h1 id="logo">SigmaZero</h1>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div id="mainWindow">
                    <br>
                    <div id="board1" style="width: 550px"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div id="secondWindow">
                    <div id="controls">
                        <br><h3><b>Status:</b></h3>
                        <h4><span id="status">White to move</span></h4>
                        <form class="form-inline">
                            <br><h4><b>Select number of iterations for MCTS:</b></h4>
                            <select class="form-control" id="iterations">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select><br><br>
                            <button type="submit" class="btn btn-default" id="reset" onclick="newGame()";>New Game</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='chessboard-0.3.0.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>

<script>
    var newGame = function() 
    {
        var board, game = new Chess(),
        statusEl = $('#status'),
        fenEl = $('#fen'),
        pgnEl = $('#pgn');
        var num_iter = document.getElementById("iterations").value;  
        
        var onDragStart = function(source, piece, position, orientation) 
        {
            if (game.game_over() === true || (game.turn() === 'w' && piece.search(/^b/) !== -1) || (game.turn() === 'b')) 
            {
                return false;
            }
        }
        
        var updateStatus = function() 
        {
            var status = '';
            
            var moveColor = 'White';
            if (game.turn() === 'b') {
                moveColor = 'Black';
            }
            if (game.turn() === 'w') {
                moveColor = 'White'
            }
            
            if (moveColor === 'Black') 
            {
                console.log(game.fen());
                console.log(num_iter);
                board.draggable = false
                $.ajax({
                    type: "POST",
                    async: true,
                    url: "/best_mcts_move",
                    contentType: "application/json",
                    data: JSON.stringify({
                        board: game.fen(),
                        iterations: num_iter
                    }), 
                    success: function(data) {
                        game = new Chess(data.board);
                        board.draggable = true;
                        board.position(game.fen())
                        console.log(data);
                    },
                    dataType: "json"
                });
            }
            
            // check checkmate
            if (game.in_checkmate() === true) {
                status = 'Game over, ' + moveColor + ' is in checkmate.';
            }
            // check draw
            else if (game.in_draw() === true) {
                status = 'Game over, draw';
            }
            else 
            {
                status = moveColor + ' to move';
                // check condition
                if (game.in_check() === true) {
                    status += ', ' + moveColor + ' is in check';
                }
            }
            
            statusEl.html(status);
            fenEl.html(game.fen());
            pgnEl.html(game.pgn());
        };
        
        var promote_to = 'q'
        // TODO: select which piece to promote pawn to
        
        var onDrop = function(source, target) 
        {
            // check legal
            var move = game.move({
                from: source,
                to: target,
                promotion: promote_to
            });
            
            // illegal move
            if (move === null) return 'snapback';
            
            updateStatus();
        };
        
        var onSnapEnd = function() 
        {
            if(game.turn() == 'b') 
            { 
                
            }
            board.position(game.fen());
        }
        
        var cfg = 
        {
            draggable: true,
            position: 'start',
            onDragStart: onDragStart,
            onDrop: onDrop,
            onSnapEnd: onSnapEnd
        }
        var board = ChessBoard('board1', cfg);
        
        updateStatus();
    };
    $(document).ready(newGame);
</script>
</html>