<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chessboard-0.3.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">SigmaZero</div>
    </nav>
    <div class="container-fluid">
        <div class="row d-flex align-items-center" style="height: 80%">
            <div class="col-xs-12 col-md-6">
                <div id="mainWindow" class="d-flex justify-content-center">
                    <div id="board1" style="width: 550px"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div id="secondWindow">
                    <div id="controls" class="d-flex flex-column">
                        <div class="my-3">
                            <h5 class="text-muted"><b>STATUS</b></h5>
                            <h1><span id="status">White to move.</span></h1>
                        </div>
                        <!-- <form class="form-inline"> -->
                        <div class="my-3 w-50">
                            <h5 class="text-muted"><b>NUMBER OF ITERATIONS FOR MCTS</b></h5>
                            <select class="form-control" id="iterations">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                        </div>
                        <div class="my-5">
                            <button class="btn btn-danger" id="reset" onclick="newGame()">NEW GAME</button>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='chessboard-0.3.0.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>

<script>
    function newGame() {
        var board, game = new Chess();
        var statusEl = $('#status'), fenEl = $('#fen'), pgnEl = $('#pgn');
        var num_iter = document.getElementById("iterations").value;  
        var moveColor = 'White';

        // TODO: select which piece to promote pawn to
        const promote_to = 'q'
        
        function onDragStart(source, piece, position, orientation) {
            if (game.game_over() === true || (game.turn() === 'w' && piece.search(/^b/) !== -1) || (game.turn() === 'b')) {
                return false;
            }
        }

        function updateStatus() {
            var status = '';
            
            if (game.turn() === 'b') moveColor = 'Black';
            if (game.turn() === 'w') moveColor = 'White';
            
            if (game.in_checkmate()) {
                // check checkmate
                status = `Game Over: ${moveColor} is in checkmate.`;
            }
            else if (game.in_draw()) {
                // check draw
                status = 'Game Over: It\'s a draw.';
            } else {
                status = `${moveColor} to move.`
                // check condition
                if (game.in_check()) {
                    status = `${status} ${moveColor} is in check.`
                }
            }
            
            statusEl.html(status);
            fenEl.html(game.fen());
            pgnEl.html(game.pgn());
        }
        
        function makeMCTSMove() {
            if (game.turn() === 'b') {
                console.log("game FEN:", game.fen());
                console.log("iterations:", num_iter);
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/best_mcts_move",
                    contentType: "application/json",
                    data: JSON.stringify({
                        board: game.fen(),
                        iterations: num_iter
                    }), 
                    success: function(data) {
                        console.log("API data:", data)
                        game.move(data.move, { sloppy: true })
                        board.position(game.fen())
                    },
                    dataType: "json"
                });
            }

            updateStatus()
        };
        
        
        function onDrop(source, target) {
            // check legal
            var move = game.move({
                from: source,
                to: target,
                promotion: promote_to
            });
            
            // illegal move
            if (move === null) return 'snapback';
            
            setTimeout(makeMCTSMove, 250);
        };
        
        function onSnapEnd() {
            board.position(game.fen());
            updateStatus()
        }
        
        var cfg = {
            draggable: true,
            position: 'start',
            onDragStart: onDragStart,
            onDrop: onDrop,
            onSnapEnd: onSnapEnd
        }

        var board = ChessBoard('board1', cfg);
        
        setTimeout(makeMCTSMove, 250);
    };
    $(document).ready(newGame);
</script>
</html>
